.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 20px;
  background: linear-gradient(to right, rgb(255, 2, 2), white);
  border-bottom: 2px solid grey;
}

.header__logo {
  font-family: "Bungee";
  color: white;
  border: 1px solid white;
  padding: 3px 6px;
  border-radius: 30px;
}

.header__logo-arial {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

@keyframes slideRight {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

.header__nav {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
  text-decoration: none;
}

.nav__favorites {
  text-decoration: none;
  transition: transform 0.2s ease, 0.2s ease;
}

.header--profile .nav__home {
  display: inline-block;
}
.nav__login,
.nav__home,
.nav__logout {
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: grey;
  font-weight: 600;
  transition: transform 0.2s ease, 0.2s ease;
  cursor: pointer;
}
.nav__home:hover,
.nav__logout:hover,
.nav__favorites:hover {
  transform: translateY(-2px);
}

.header__my-favorites {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-weight: 800;
  font-size: 13px;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.header__favorites {
  font-family: "Bungee";
  color: red;
  font-size: 15px;
  letter-spacing: -0.6px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
  transform: skewY(-10deg);
}

.profile__icon {
  width: 24px;
  height: 24px;
  display: none;
  cursor: pointer;
  transition: transform 0.2s ease, 0.2s ease;
}

.profile__icon:hover {
  transform: translateY(-2px);
}

.nav__icon-wrapper {
  display: none;
}

@media screen and (max-width: 530px) {
  .header {
    padding: 10px;
  }

  .header--profile .nav__home {
    display: none;
  }

  .header--profile .nav__icon-wrapper {
    display: inline-block;
  }

  .nav__login,
  .nav__logout,
  .nav__favorites {
    display: none;
  }
  .nav__icon-wrapper {
    width: fit-content;
    display: flex;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .nav__login {
    display: block;
  }

  .profile__icon {
    display: inline-block;
  }

  .header__nav {
    gap: 20px;
    font-size: 16px;
  }

  .header--home .header__nav {
    gap: 8px;
  }
}

