.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 20px;
  background: linear-gradient(to right, rgb(255, 2, 2), white);
  border-bottom: 2px solid grey;
}

.header__logo {
  font-family: "Bungee";
  color: white;
  border: 1px solid white;
  padding: 3px 6px;
  border-radius: 30px;
}

.header__logo-arial {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: rgb(252, 252, 252);
}

@keyframes slideRight {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

.header__nav {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: auto;
  text-decoration: none;
}

.nav__button {
  border: none;
  background-color: transparent;
}

.nav__link {
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: grey;
  font-weight: 600;
  transition: transform 0.2s ease, 0.2s ease;
  cursor: pointer;
}
.nav__link:hover {
  transform: translateY(-2px);
}

.header__my-favorites {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-weight: 800;
  font-size: 13px;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.header__favorites {
  font-family: "Bungee";
  color: red;
  font-size: 15px;
  letter-spacing: -0.6px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
  transform: skewY(-10deg);
}

@media screen and (max-width: 660px) {
  .header {
    flex-direction: column;
    padding: 10px;
  }

  .header__nav {
    margin: 6px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    

  }

.header__favorites {
    color: rgb(236, 231, 231);
  }
  .header__logo-arial {
    color: black;
    opacity: 0.8;
  }

  .header__logo {
    color: black;
    opacity: 0.8;
     border: 1px solid black;
  }
}

@media screen and (max-width: 423px) {
  .header__my-favorites {
    color: #fff;
  }

  .header__favorites {
    color: white;
  }

  .header__nav {
    gap: 8px;
    margin: 6px 0;
    
  }

  button.nav__link {
    font-size: 16px;
  }
  a.nav__link {
    font-size: 16px;
 
  }

  .header {
    padding: 5px;
    
  }

  .header__logo {
    font-size: 16px;
    
  }

  .nav__link {
    font-size: 16px;
  }



}
