.profile {
  background-image: url(../../images/aaaa.jpg);
   background-size: 150%; /* Extra width gives room to slide */
  background-repeat:repeat-y;
 
}

.favorites-container {
  padding: 64px 40px;
}

.favorites__list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 16px;
  
  justify-content: center; /* centers the grid horizontally */
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.profile__card {
 background: linear-gradient(135deg, #ffffff 0%, #f9e900 60%, #ffffff 90%);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 6px 6px 4px 6px rgba(0, .5, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  border: 4px solid rgb(243, 182, 16);
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto; 
}

.profile__card:hover {
  transform: scale(1.02);
}

.card__image {
width: 100%;
  background-color: rgb(122, 122, 122);
  BORDER: 2px solid rgb(207, 204, 204);
  border-radius: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: block;
}

.card__description{
  font-size: 10px;
  margin-bottom: 20px;
}

.card__name {text-transform: capitalize;
margin-bottom: 10px;}



.release-button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: block;
  
  margin-top: auto;
}

.release-button:hover {
  background-color: #e04646;
}

.profile__releaseAll-btn {
  border: none;
  margin: 20px 0 10px;
  border: 2px solid red;
  border-radius: 15px;
  padding: 3px 10px;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  color: red;
  cursor: pointer;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
   transition: background-color 0.3s ease, color 0.3s ease;


}

.profile__releaseAll-btn:hover {
  background-color: red;
  color: white;
}

.profile__warning {
  font-size: 12px;
  color: grey;
  font-style: italic;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  opacity: .6;
}


.profile__card {
  position: relative;
  justify-items: center;

}



.profile__name {
  font-size: 50px;
  color:grey;
  margin: 0;
    font-style: italic;
    padding-top: 12px;
    padding: 20px;
    color: white;
  
}

.profile__info {
  color:grey;
  font-size: 25px;
   display: flex;

  justify-content: center;
  width: 100%;
  
}

.profile__highlight {
  color: red;
  margin: 0 5px;
  font-weight: 900;
    -webkit-text-stroke: 1px rgb(216, 216, 216);
}

.profile__description {
  margin-top: 20px;
  font-size: 35px;
  display: flex;

  justify-content: center;
  width: 100%;

}

.header__type_profile {
  border: 2px solid grey
}

@media (max-width: 900px) {
  .favorites__list {
    grid-template-columns: repeat(2, 1fr); /* or 200px if you prefer fixed */
  }

  .release-button {
    width: 60%;
    align-self: center;
  }
}

/* Small screens: switch to 1 column */
@media (max-width: 600px) {
  .favorites__list {
    grid-template-columns: 1fr;
    
  }

  .favorites-container {
    padding: 10px;
    margin-bottom: 10px;
  }

  .profile__name {
    padding-left: 10px;
     color: #ffffff;
  }

  .profile__description {
    padding: 10px;
  }

  .card__name {
    font-size: 30px;
   
  }

  .profile__description{
  color: grey
}

.card__description{
  font-size: 20px;
}

.profile__card {
  margin-top: 12px ;
}



.profile__info {
  font-size: 20px;
}
}






