.profile {
  background-image: url(../../images/aaaa.jpg);
   background-size: 150%; /* Extra width gives room to slide */
  background-repeat: no-repeat;
  background-position: 0% center;
}

.favorites-container {
  padding: 64px 100px;
}

.favorites__list {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 16px;
  
  justify-content: center; /* centers the grid horizontally */
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.profile__card {
 background: linear-gradient(135deg, #ffffff 0%, #f9e900 60%, #ffffff 90%);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 6px 6px 4px 6px rgba(0, .5, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  border: 4px solid rgb(243, 182, 16)
}

.profile__card:hover {
  transform: scale(1.02);
}

.card__image {
width: 100%;
  background-color: rgb(122, 122, 122);
  BORDER: 2px solid rgb(207, 204, 204);
  border-radius: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  
 
  display: block;
}

.card__description{
  font-size: 10px;
}

.card__name {text-transform: capitalize;
margin-bottom: 10px;}


.release-button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: block;
}

.release-button:hover {
  background-color: #e04646;
}

.profile__releaseAll-btn {
  border: none;
  margin: 20px 0 10px;
  border: 2px solid red;
  border-radius: 15px;
  padding: 3px 10px;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  color: red;
  cursor: pointer;

}


.profile__card {
  position: relative;
  justify-items: center;

}



.profile__name {
  font-size: 50px;
  color:grey;
  margin: 0;
    font-style: italic;
    margin-top: 12px;
  
}

.profile__info {
  color:grey;
  font-size: 25px;
   display: flex;

  justify-content: center;
  width: 100%;
  
}

.profile__highlight {
  color: red;
  margin: 0 5px;
}

.profile__description {
  margin-top: 20px;
  font-size: 35px;
  display: flex;

  justify-content: center;
  width: 100%;

}

.header__type_profile {
  border: 2px solid grey
}

@media (max-width: 900px) {
  .favorites__list {
    grid-template-columns: repeat(2, 1fr); /* or 200px if you prefer fixed */
  }
}

/* Small screens: switch to 1 column */
@media (max-width: 600px) {
  .favorites__list {
    grid-template-columns: 1fr;
    
  }

  .favorites-container {
    padding: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 423px) {

  .profile__info {
  display:contents;

}

.profile__card {
  margin-top: 12px ;
}


}